alembic==1.7.7
fastapi==0.78.0
numpy==1.21.6
#Special version of CV2 that runs headless like my app
opencv-python-headless
uvicorn==0.18.1
gunicorn==20.1.0
pandas>=1.1.4
python-multipart


#For YOLOV5 this whl is much smaller +- 80MB versus the 700 MB full torch package
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
seaborn

# Base for YoloV5----------------------------------------
matplotlib>=3.2.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torchvision== 0.12.0
tqdm>=4.64.0
ipython==7.34.0
psutil==5.9.1
protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012
