<html>
        <head>
            <title>PhotoScavenger API </title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        </head>
        <body>
            <nav class="navbar bg-light">
                <div class="container">
                  <a class="navbar-brand" href="/">Photo Scavenger API</a>
            
                </div>
    </nav>
    <div class="container">
    
      
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://user-images.githubusercontent.com/71013416/179624009-d72ba019-3639-438d-8857-dbc061f675a3.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">What is Photo Scavenger?</h5>
                  <p class="card-text">Photo Scavenger is a object detection game, where you earn points by taking photos of objects around your house.</p>
                  <a href="http://photoscavenger.petervandoorn.com" class="btn btn-secondary" role="button" >Check out the App</a>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                
              </div>
            </div>
          </div>


          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is an API?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>With an API computers can talk to each other.</strong> For instance if your smartphone shows you the weather of today, it made an API call to a weather service somewhere on the internet. The Photo Scavenger API allows you to upload pictures and it will tell you what objects are in there. This can be used if you are working on a app or website. There is a companion app for the API that you can download for iOS on the appstore. 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How to detect objects using PhotoScavenger API
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>To work with the API you'll need to build some kind of app or service.</strong> that can make calls to the API. If you have that then it is simple, as Photo Scavenger does not have any rate limits or authentication. 
                 <br> <ul>
                    <li>1. Prepare a POST request with an image as file/body from the app that you are building </li>
                    <li>2. Send that request to to: https://photoscavenger.vdotvo9a4e2a6.eu-central-1.cs.amazonlightsail.com/uploadfile/boat or  https://photoscavenger.vdotvo9a4e2a6.eu-central-1.cs.amazonlightsail.com/v2/uploadfile/boat</li>
                    <li>3. replace boat for an object you think is in the image.</li>
                    </ul>
                    * Note the v1 API detects 18 objects, the V2 80
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How to get an example response
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="https://photoscavenger.vdotvo9a4e2a6.eu-central-1.cs.amazonlightsail.com/exampleresponse" class="btn btn-secondary" tabindex="-1" role="button">Get example response (JSON)</a>
                    <br>Then you should receive something like: <br><br>
                    <code> {"Searchedfor:":"boat",<br>"Wasfound":"NO",<br>"OtherObjectsDetected":["person","person","person","person","bicycle","motorbike","bicycle","motorbike","bicycle"],<br>"Processed_FileName":"scanned_image54e46fb8-93f8-43ad-a8ec-99eb83f260af.jpg",<br>"file_url":"image54e46fb8-93f8-43ad-a8ec-99eb83f260af.jpg",<br>}</code>
                    <p>Or send a <code>GET</code> request to https://photoscavenger.vdotvo9a4e2a6.eu-central-1.cs.amazonlightsail.com/exampleresponse
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    What endpoints are available and where do I find documentation?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Check the Swagger documentation to see what endpoints are available and what parameters they take</p>
                    <a href="https://photoscavenger.vdotvo9a4e2a6.eu-central-1.cs.amazonlightsail.com/docs/" class="btn btn-secondary" tabindex="-1" role="button">Get API documentation (Swagger)</a>
                    <a href="https://github.com/two-trick-pony-NL/PhotoScavengerBackend" class="btn btn-secondary" tabindex="-1" role="button">GitHub</a>
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Endpoint</th>
                      <th scope="col">returns</th>
                      <th scope="col">Example</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>/exampleresponse</td>
                      <td>A JSON object of a detected object, without you uploading a image. This endpoint is great for testing if you do not have infrastructure yet to upload images </td>
                      <td><code>{<br>
                        "Searchedfor:": "dog",<br>
                        "Wasfound": "NO",<br>
                        "OtherObjectsDetected": [<br>
                            "person",<br>
                            "cat",<br>
                            "bus",<br>
                        ],<br>
                        "Processed_FileName": "image928f49c1-65e3-4eac-8770-b890db598cde.jpg"
                    }</code></td>                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>/newassignment/200</td>
                      <td>A JSON object with a random name and an Emoji. The endpoint requires you to send a score for instance "200", the higher the score the more complex the assignment These can be used the V1 version of this endpoint returns 18 objects, the V2 version can do 80</td>
                      <td><code>{"sofa":"🛋"}</code><br><br> The V1 endpoint supports these objects: <code>["background", "earoplane", "bicycle", "bird", "boat", "bottle", "bus", "car", "cat", "chair", "cow", "diningtable", "dog", "horse", "motorbike", "person", "pottedplant", "sheep", "sofa", "train", "tvmonitor"]
                      </code></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>/v2/newassignment/200</td>
                      <td>A JSON object with a random name and an Emoji. The endpoint requires you to send a score for instance "200", the higher the score the more complex the assignment These can be used the V1 version of this endpoint returns 18 objects, the V2 version can do 80</td>
                        <td><code>{"apple":"🍎"}</code><br><br> The V2 endpoint supports these objects: <br><code>person
                          bicycle
                          car
                          motorcycle
                          airplane
                          bus
                          train
                          truck
                          boat
                          traffic light
                          fire hydrant
                          stop sign
                          parking meter
                          bench
                          bird
                          cat
                          dog
                          horse
                          sheep
                          cow
                          elephant
                          bear
                          zebra
                          giraffe
                          backpack
                          umbrella
                          handbag
                          tie
                          suitcase
                          frisbee
                          skis
                          snowboard
                          sports ball
                          kite
                          baseball bat
                          baseball glove
                          skateboard
                          surfboard
                          tennis racket
                          bottle
                          wine glass
                          cup
                          fork
                          knife
                          spoon
                          bowl
                          banana
                          apple
                          sandwich
                          orange
                          broccoli
                          carrot
                          hot dog
                          pizza
                          donut
                          cake
                          chair
                          couch
                          potted plant
                          bed
                          dining table
                          toilet
                          tv
                          laptop
                          mouse
                          remote
                          keyboard
                          cell phone
                          microwave
                          oven
                          toaster
                          sink
                          refrigerator
                          book
                          clock
                          vase
                          scissors
                          teddy bear
                          hair drier
                          toothbrush
                        </code></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>/uploadfile/boat</td>
                      <td>A JSON object with the outcome of the detection. The endpoint requires you to send a object you were expecting for instance "boat". </td>                      
                      <td><code>{<br>
                        "Searchedfor:": "dog",<br>
                        "Wasfound": "NO",<br>
                        "OtherObjectsDetected": [<br>
                            "person",<br>
                            "person",<br>
                            "car",<br>
                        ],<br>
                        "Processed_FileName": "image928f49c1-65e3-4eac-8770-b890db598cde.jpg"
                    }</code></td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>/v2/uploadfile/boat</td>
                      <td>A JSON object with the outcome of the detection. The endpoint requires you to send a object you were expecting for instance "boat". </td>
                      <td><code>{<br>
                        "Searchedfor:": "person",<br>
                        "Wasfound": "YES",<br>
                        "OtherObjectsDetected": [<br>
                            "person",<br>
                            "person",<br>
                            "person",<br>
                            "person",<br>
                            "person",<br>
                            "boat",<br>
                            "person",<br>
                            "person",<br>
                            "boat",<br>
                            "person",<br>
                            "person",<br>
                            "boat",<br>
                            "person"<br>
                        ],<br>
                        "Processed_FileName": "image928f49c1-65e3-4eac-8770-b890db598cde.jpg"
                    }</code></td>
                    </tr>

                  </tbody>
                </table>
                <br>
                    <p>Check out Github page for the source code  <a href="https://github.com/two-trick-pony-NL/PhotoScavengerBackend">Code on GitHub</a></p>
                  </div>
                </div>
            </div>
          </div>
                </div>
                <hr>

    <div class="container">
                <h4>API Calls per Endpoint</h4>

                
                <table class="table">
                    <tr>
                      <th>Endpoint</th>
                      <th>Number of calls</th>
                    </tr>
                    {% for key, value in data.items() %}
                    <tr>
                      <td>{{key}}</td>
                      <td>{{value}}</td>
    
                    </tr>
                    {% endfor %}
                  </table>

<br>
<br>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div height="300px">
<canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Homepage','Example Response', 'NewAssignment V2', 'NewAssignment V1','uploadfileV2','uploadfileV1' ],
            datasets: [{
                label: '# API Calls to different Endpoints',
                data: {{values}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          indexAxis: 'y'
  }
    });
    </script>     
    * Healthcheck by AWS removed from chart as it sends are request every few seconds 
        </body>
    
    </html> 