<html>
        <head>
            <title>PhotoScavenger API </title>
        </head>
        <body>
        <img src="https://user-images.githubusercontent.com/71013416/179624009-d72ba019-3639-438d-8857-dbc061f675a3.png" width="200" height="200" alt="PhotoScavengerLogo">
            <h1> Welcome to the photoscavenger API <h1>
            <hr>
            <h2>How to detect objects using PhotoScavenger API</h2>
                <ul>
                <li>1. Prepare a POST request with an image as file/body </li>
                <li>2. Send that request to to: http://scangame.herokuapp.com/uploadfile/boat or  http://scangame.herokuapp.com/v2/uploadfile/boat</li>
                <li>3. replace boat for an object you think is in the image.</li>
                </ul>
                <hr>
              </div>
                <hr>
                <h2>How to get an example response</h2>
                <p>Send a call to http://scangame.herokuapp.com/exampleresponse
                <hr>
                <h2> Where to find the documentation? </h2>
                <p>check: https://scangamebackend.herokuapp.com/docs for documentation</p>
                <p>Or check github : https://github.com/two-trick-pony-NL/PhotoScavengerBackend</p>

                <hr>
                <h2>Check what calls are being made {{values}} {{keys}}</h2>

                
                <table style="padding: 15px; text-align: center;border: 1px solid;">
                    <tr>
                      <th>Endpoint</th>
                      <th>Number of calls</th>
                    </tr>
                    {% for key, value in data.items() %}
                    <tr>
                      <td>{{key}}</td>
                      <td>{{value}}</td>
    
                    </tr>
                    {% endfor %}
                  </table>

<br>
<br>



<canvas id="myChart" width="400" height="400"></canvas>
<script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
                
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        </body>
    
    </html> 